*{
    font-family: 'Roboto', sans-serif;
    color: #ebdbb2;
    background-color: #282828;
}

#pokemonCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.pokemonCard{
    /* background-color: black; */
    width: 250px;
    border: 7px solid #ebdbb2;
    border-radius: 50px;
    margin: 10px 0px;
    padding: 20px 10px;
    overflow: hidden;
}

.pkmnImage{
    width: 100%;
    height: 30%;
}

.typeIcon{
    width:25%;
    vertical-align: middle;
}

.pkmnName{
    text-align: center;
    font-size: 32px;
    margin: 0px 0px 20px 0px;
    font-weight: bold;
}

.loadingInvisible{
	display: none;
    /* animation: loadingOut 0.5s; */
}

.loadingVisible{
	position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0px;
    left: 0px;
    /* animation: loadingIn 0.5s; */
}

#pokeTeamText{
    width: 40%;
    height: 400px;
    margin: auto;
    display: flex;
    min-width: 400px;
    max-width: 600px;
    resize: none;
    font: arial;
    border: 5px solid #ebdbb2;
}

#checkTeam{
    display: flex;
    margin: auto;
    margin-top: 10px;
    font-family: arial;
    font-size: 25;
    border-radius: 10%;
    border-color: black;
    background-color: #cc241d;
}

#loadingPokeball{
    width: 15%;
}

.graphContainer2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphContainer{
    margin: 50px 0px;
    width: 70%;
    min-width: 500px;
}

#explanation{
    margin: 30px;
    font-size: 18px;
}

#title{
    background-color: #cc241d;
    font-size: 43;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}
