#pokemonCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemonCard{
    width: 40%;
}

.pkmnImage{
    width: 100%;
    height: 30%;
}

.typeIcon{
    width:20%
}